<header>
    <h2>Add to Cart</h2>
</header>
<form>
    <label for="size">Size:</label>
    <select id="size">
        <option value="">Small</option>
        <option value="">Medium</option>
        <option value="">Large</option>
    </select>


    <label for="quantity">Quantity:</label>
    <input type="number" placeholder="Quantity" id="quantity">


    <label for="add-ons">Add-ons:</label>
    <select id="add-ons">
        <option value="Sprinkles">Sprinkles</option>
        <option value="Choco Chip">Choco Chip</option>
        <option value="Choco Chip">Choco Chip</option>
        <option value="Cookies">Cookies</option>
    </select>
    <button>Add to Cart</button>
</form>